// Blog Patterns

@mixin blog-preview-title {
    color: $black;
    border-bottom: none;
}

@mixin blog-preview-date {
    font-family: $font-sans-serif;
    font-size: $font-x-small;
    letter-spacing: 0.5px;
    color: $gray;
}

@mixin page-header {
    @include base-h2();
}