// Blog Patterns

@mixin blog-preview-title {
    color: $black;
    border-bottom: none;
}

@mixin blog-preview-date {
    font-family: $font-sans-serif;
    font-size: $font-x-small;
    letter-spacing: 0.5px;
    color: $gray;
}

@mixin page-header {
    @include base-h3();
    letter-spacing: 2px;
    text-align: center;
}

@mixin blogroll-title {
    margin: 0 0 $global-spacer;
    font-family: $font-serif;
    font-size: $font-medium;
    font-weight: 600;
    font-style: normal;
    line-height: $font-medium*2;
    text-align: center;
}

@mixin photo-border {
    border: 1px solid $gray-light; 
    img {
        border: 20px solid $white;
    }
}