// Typography Mixins

@mixin base-p() {
    font-family: $font-sans-serif; 
    letter-spacing: 0.2px;
    line-height: 26px;
    color: $text-primary;
}

@mixin base-link() {
    color: $link;
    padding-bottom: 2px;
    border-bottom: 1px solid $orange;

    &:hover,
    &:focus {
        text-decoration: none;
        color: $orange;
        border-color: $link;
    }
}

@mixin base-h1() {
    margin-bottom: $global-spacer--2;
    font-family: $font-serif;
    font-size: $font-x4-large;
    line-height: $font-x4-large+10px;
    color: $heading-primary;
}

@mixin base-h2() {
    margin-bottom: $global-spacer--2;
    font-family: $font-sans-serif;
    font-size: $font-x3-large;
    line-height: $font-x3-large+10px;
    color: $heading-primary;
    letter-spacing: 0.5px;
}

@mixin base-h3() {
    margin-bottom: $global-spacer--three-halves;
    font-family: $font-sans-serif;
    font-size: $font-x2-large;
    font-weight: 600;
    color: $heading-secondary;
    letter-spacing: 0.5px;
    line-height: $font-x2-large+10px;
    letter-spacing: 1px;
}

@mixin base-h4() {
    margin-bottom: $global-spacer--three-halves;
    font-family: $font-serif;
    font-size: $font-x-large;
    font-style: italic;
    line-height: $font-x-large+10px;;
    letter-spacing: 1px;
    font-weight: 600;
    color: $heading-primary;
}

@mixin base-h5() {
    margin-bottom: $global-spacer;
    font-family: $font-sans-serif;
    font-size: $font-large;
    line-height: $font-large+10px;
    font-weight: 600;
    letter-spacing: 1px;
    color: $heading-primary;
    text-transform: uppercase;
}

@mixin base-h6() {
    margin-bottom: $global-spacer;
    font-family: $font-sans-serif;
    font-size: $font-medium;
    line-height: $font-medium+10px;
    font-weight: 400;
    letter-spacing: 1px;
    color: $heading-secondary;
}

@mixin messaging($state) {
    width: 100%;
    padding: $global-spacer--half $global-spacer;
    color: $state;
    background: rgba($state, 0.1);
}