// Typography Mixins

@mixin base-p() {
    margin-bottom: 2rem;
    font-family: $font-tertiary;
    font-size: $font-normal; 
    line-height: 26px;
    color: $text-primary;
}

@mixin base-link() {
    color: $link;
    padding-bottom: 2px;
    border-bottom: 1px solid $orange;

    &:hover,
    &:focus {
        text-decoration: none;
        color: $hover;
        border-color: $link;
    }
}

@mixin title-link() {
    font-family: $font-sans-serif;
    font-size: $font-x-small;
    font-weight: 600;
    color: $text-primary;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    border-color: $body-background;

    &:hover,
    &:focus {
        color: $hover;
        border-color: $link;
    }
}

@mixin base-caption() {
    font-size: $font-x2-small;
    letter-spacing: 0.5px;
    color: $gray;
}

@mixin base-h1() {
    margin-bottom: $global-spacer--2;
    font-family: $font-serif;
    font-size: $font-x3-large;
    line-height: $font-x3-large+10px;
    letter-spacing: 1px;
}

@mixin base-h2() {
    margin-bottom: $global-spacer--2;
    font-family: $font-sans-serif;
    font-size: $font-x-large;
    font-weight: 600;
    line-height: $font-x-large+10px;
    letter-spacing: 0.5px;
}

@mixin base-h3() {
    margin-bottom: $global-spacer--three-halves;
    font-family: $font-serif;
    font-size: $font-x2-large;
    font-weight: 600;
    line-height: $font-x2-large+10px;
    letter-spacing: 0.5px;
}

@mixin base-h4() {
    margin-bottom: $global-spacer--three-halves;
    font-family: $font-sans-serif;
    font-size: $font-large;
    line-height: $font-large*1.6;
    letter-spacing: 1px;
    font-weight: 600;
    color: $heading-primary;
}

@mixin base-h5() {
    margin-bottom: $global-spacer;
    font-family: $font-sans-serif;
    font-size: $font-large;
    line-height: $font-large+10px;
    font-weight: 600;
    font-style: italic;
    text-transform: lowercase;
    letter-spacing: 0.5px;
}

@mixin base-h6() {
    margin-bottom: $global-spacer;
    font-family: $font-tertiary;
    font-size: $font-medium;
    line-height: $font-large+10px;
    font-weight: 600;
    letter-spacing: 1px;
}

@mixin messaging($state) {
    width: 100%;
    padding: $global-spacer--half $global-spacer;
    color: $state;
    background: rgba($state, 0.1);
}