// Button Styles 

button {

    &:hover,
    &:focus {
        cursor: pointer;
        box-shadow: none;
    }
}

.button {

    &__primary {
        @include button-primary();

        &--reverse {
            color: $pink-dark;
            background: $pink;
            cursor: pointer;
        }
    }

    &__secondary {
        @include button-secondary();
    }

    &__text {
        @include button-text();
    }

    &__submit {
        @include button-submit();
    }
}

.btn-secondary {
    @include button-secondary();
}
 
.comment-form input[type=submit], 
.search-form .search-submit {
    @include button-submit();
}