// Button Styles 

button {

    &:hover,
    &:focus {
        cursor: pointer;
        box-shadow: none;
    }
}

.button {

    &__primary {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 40px;
        margin: $global-spacer--2 0;
        font: bold $font-normal $font-primary;
        text-align: center;
        letter-spacing: 1.5px;
        color: $body-background;
        background: $pink-dark;
        border: 2px solid $pink-dark;
        border-radius: 5px;

        &:hover,
        &:focus {
            color: $pink-dark;
            background: $body-background;
        }

        &--reverse {
            color: $pink-dark;
            background: $pink;
            cursor: pointer;
        }
    }

    &__secondary {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 40px;
        margin-bottom: $global-spacer--2;
        padding: 0;
        color: $blue;
        font: bold $font-normal $font-primary;
        letter-spacing: 1px;
        background: $body-background;
        border: 2px solid $blue;
        border-radius: 5px;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;

        &:hover,
        &:focus {
            color: $body-background;
            background: $blue;
            border-color: $blue;
            box-shadow: none;
            cursor: pointer;
        }
    }

    &__text {
        margin-bottom: $global-spacer--three-halves;
        font: bold $font-medium $font-primary;
        color: $blue;
        letter-spacing: 0.5px;
        background: none;
        padding: $global-spacer--half 0;
        border: none;
        border-bottom: 2px solid $blue;

        &:hover,
        &:focus {
            color: $black;
            border-color: $yellow;
            background: $yellow;
        }
    }

    &__submit {
        display: block;
        width: 100%;
        height: 40px;
        margin-bottom: $global-spacer;
        padding: 0;
        color: $body-background;
        font: bold $font-normal $font-primary;
        letter-spacing: 1px;
        background: $black;
        border: none;
        border-radius: 5px;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;

        &:hover,
        &:focus {
            color: $black;
            background: rgba($white, 0.8);
            box-shadow: none;
            cursor: pointer;
        }
    }
}

.btn-secondary, 
.comment-form input[type=submit], 
.search-form .search-submit {
    @extend .button__secondary;
}