// Form Styles

// Search form - from base theme

.search-form {
    @extend .form-inline;
    flex-flow: row;

    label {
        @include label;
        margin: 0 $global-spacer 0 0;
    }

    .search-field {
        @include input-text;
        margin: 0;
        font-family: $font-sans-serif;
        font-weight: 400;
        font-size: $font-small;
        letter-spacing: 1px;
    }

    .search-submit {
        @include button-submit();
        margin: 0;
    }
}

// Custom Form Styles

legend {
    @include legend;
}

form {
    label {
        @include label;
        font-weight: 600;
    }
}

fieldset {
    label {
        @include label;
    }
}

input {
    @include base-p();

    &[type="text"],
    &[type="email"],
    &[type="password"] {
        @include input-text();
    }

    &[type="checkbox"] {
        @include input-checkbox;
    }

    &[type="radio"] {
        @include input-radio;
    }

    &::placeholder {
        color: $gray;
    }

    &[type="submit"] {
        @include button-submit();
        margin: 0;
    }
}

textarea {
    @include textarea;
}

select {
    @include select;
}

// Ninja Form Styles

.nf-error {

    .ninja-forms-field {
        border: 2px solid $error!important;
    }

    &-msg {
        @include base-p();
        @include messaging($error);
        color: $error!important;
    }
}

.ninja-forms {

    &-req-symbol {
        color: $error!important;
    }

    &-field {

        &[type="button"] {
            @include button-submit();
            width: 100%!important;
        }
    }

    &-cont {
        width: 100%;
        max-width: 640px;
        margin: 0 auto;
        padding: 0 $global-spacer--2;
    }

    &-required-items {
        @include base-p();
    }

    &-form-wrap {
        width: 100%;
        height: 44px;
    }
}

.nf-form {

    &-fields-required {
        @include base-p();
    }

    &-title {
        display: none;
    }

    &-wrap {
        width: 100%;
        max-width: 640px;
        margin: 0 auto;
        padding: 0 $global-spacer--2;
    }
}

.ninja-forms-form-wrap input[type=submit] {
    width: 100%;
    height: 44px;
}
