// Form Styles

// Search form - from base theme

.search-form {
    @extend .form-inline;
    flex-flow: row;

    label {
        @include label;
        margin: 0 $global-spacer 0 0;
    }

    .search-field {
        @include input-text;
        margin: 0;
    }

    .search-submit {
        @include button-submit();
        margin: 0;
    }
}

// Custom Form Styles

legend {
    @include legend;
}

form {
    label {
        @include label;
        font-weight: 600;
    }
}

fieldset {
    label {
        @include label;
    }
}

input {
    @include base-p();

    &[type="text"] {
        @include input-text();
    }

    &[type="checkbox"] {
        @include input-checkbox;
    }

    &[type="radio"] {
        @include input-radio;
    }

    &::placeholder {
        color: $gray;
    }
}

textarea {
    @include textarea;
}

select {
    @include select;
}
