// Image related styling

figcaption {
    margin-bottom: $global-spacer--2;
    padding-top: $global-spacer;
}

/* Add multi-line by line breaks to Gutenberg galleries. */
.blocks-gallery-item figcaption {
    white-space: pre-line;
    color: #555 !important;
}

/* Prevent the last image from growing to fill available space if there aren't three images in a row. */
.blocks-gallery-item {
    flex-grow: 1 !important;    
    display: inline-block !important;
    width: 100%;
    margin-bottom: 0!important;

    @media only screen and (min-width: 600px) {
        width: calc((100% - $global-spacer--three-halves * 2) / 3)!important;
        margin-bottom: $global-spacer--three-halves!important;
    }
}

.wp-block-gallery .blocks-gallery-image figure, 
.wp-block-gallery .blocks-gallery-item figure {
    display: inline-block;
    height: auto;
    padding: $global-spacer--half 0;
}

.wp-block-gallery.is-cropped .blocks-gallery-image a, 
.wp-block-gallery.is-cropped .blocks-gallery-image img, 
.wp-block-gallery.is-cropped .blocks-gallery-item a, 
.wp-block-gallery.is-cropped .blocks-gallery-item img {
    height: 270px;
}   

.wp-block-gallery .blocks-gallery-image figcaption, 
.wp-block-gallery .blocks-gallery-item figcaption {
    position: relative;
    width: 100%;
    margin: $global-spacer 0 $global-spacer--three-halves 0;
    background: none;
    padding: 0 $global-spacer;
}