// Logo Styles

.logo {

    &__a {
        padding: $global-spacer 7px $global-spacer $global-spacer;
        font-family: $font-serif;
        font-size: 24px;
        text-transform: lowercase;
        letter-spacing: 4.08px;
        color: $logo;
        text-align: center;
        border-radius: $global-spacer--half;
        border-bottom: 2px double $body-background;
        
        @keyframes slow-background {
            from {background-color: $body-background;}
            to {background-color: $blue-light;}
        }

        &:hover,
        &:focus {
            color: $logo;
            background: $blue-light;
            border-bottom: 2px double $blue-light;
            animation-name: slow-background;
            animation-duration: 4s;
        }
    }
}