// Logo Styles

.logo {

    &__a {
        padding: $global-spacer 7px $global-spacer $global-spacer;
        font-family: $font-serif;
        font-size: 24px;
        text-transform: lowercase;
        letter-spacing: 4.08px;
        color: $logo;
        text-align: center;
        text-decoration: none;
        border-bottom: none;
        @include btn-border-slide($body-background, $pink-dark, 2px, 0.8s);
        
        

        &:hover,
        &:focus {
            color: $hover;
        }
    }
}