// Navigation Styles

.nav {
    display: flex;
    flex-flow: wrap;
    justify-content: center;

    @include media-breakpoint-up(sm) {
        justify-content: space-around;
        flex-flow: nowrap;
    }

    @include media-breakpoint-up(lg) {
        justify-content: space-between;
    }

    & li a {
        padding: $global-spacer;
        font-family: $font-primary;
        font-size: $font-x-small;
        font-weight: 600;
        letter-spacing: 0.8px;
        line-height: 30px;
        text-transform: uppercase;
        color: $gray;
        border-bottom: 2px solid $body-background;

        &:hover,
        &:focus {
            color: $black;
            border-color: $blue-light;
        }
    }

    & li:nth-child(1) a {
        &:hover,
        &:focus {
            border-color: $pink;
        }
    }

    & li:nth-child(2) a {
        &:hover,
        &:focus {
            border-color: $green-light;
        }
    }

    & li:nth-child(3) a {
        &:hover,
        &:focus {
            border-color: $yellow;
        }
    }

    & li:nth-child(4) a {
        &:hover,
        &:focus {
            border-color: $purple;
        }
    }

    & li {

        &.current-menu-item a {
            color: $black;

            .design & {
                border-color: $pink;
            }

            .photography-2,
            .photography & {
                border-color: $green-light;
            }

            .about-2,
            .about & {
                border-color: $yellow;
            }

            .blog & {
                border-color: $purple;
            }
        }
    }
}