// Navigation Styles

.nav {
    display: flex;
    flex-flow: wrap;
    justify-content: center;

    @include media-breakpoint-up(sm) {
        justify-content: space-between;
        flex-flow: nowrap;
    }

    & li a {
        padding: $global-spacer;
        font-family: $font-sans-serif;
        font-size: $font-normal;
        font-weight: 600;
        letter-spacing: 1px;
        line-height: 30px;
        text-transform: capitalize;
        color: $text-primary;
        border-bottom: 2px solid $body-background;

        &:hover,
        &:focus {
            border-color: $blue-light;
        }
    }

    & li:nth-child(1) a {
        &:hover,
        &:focus {
            border-color: $pink;
        }
    }

    & li:nth-child(2) a {
        &:hover,
        &:focus {
            border-color: $green-light;
        }
    }

    & li:nth-child(3) a {
        &:hover,
        &:focus {
            border-color: $yellow;
        }
    }

    & li:nth-child(4) a {
        &:hover,
        &:focus {
            border-color: $purple;
        }
    }
}