// Recent Posts Styles

.recent-posts {
    max-width: 360px;

    &__outer {
        display: flex;
        justify-content: space-between;
        margin: $global-spacer--5 0;
    }
    
    &__image {

        &--link {
            display: block;
            height: 200px;
            overflow: hidden;
            margin-bottom: $global-spacer;
            border: none;

            &:hover,
            &:focus {
                border: none;
            }
        }
    }

    &__link {
        @extend .h4;
    }
}