// Social Icons

.zoom-social_icons-list {

    &__link {
        border: none;
    }
}

.zoom-social-icons-list {
    display: flex;
    justify-content: center;
    flex-flow: wrap;

    @include media-breakpoint-up(md) {
        justify-content: space-between;
    }
}