// Global
* {
    box-sizing: border-box;
}

body {
    @extend p;
    background: $body-background;
}

img {
    width: 100%;
    max-width: auto;
    height: auto;
}

h1,
.h1 {
    @include base-h1();
}

h2,
.h2 {
    @include base-h2();
}

h3,
.h3 {
    @include base-h3();
}

h4,
.h4 {
    @include base-h4();
}

h5,
.h5 {
    @include base-h5();
}

h6,
.h6 {
    @include base-h6();
}

p,
ul,
ol,
blockquote {
    @include base-p();
}

.font {
    &__primary {
        font-family: $font-primary;
    }

    &__secondary {
        font-family: $font-secondary;
    }

    &__tertiary {
        font-family: $font-tertiary;
    }
}

a {
    @include base-link();
}

::-moz-selection { /* Code for Firefox */
    background: $highlight;
}

::selection { 
    background: $highlight;
}

// Messaging

.has-success {
    @include messaging($success);
}

.has-warning {
    @include messaging($warning);
}

.has-error {
    @include messaging($error);
}