// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    2;

// Spacing
$global-spacer--half:           5px;
$global-spacer:                 10px;
$global-spacer--three-halves:   15px;
$global-spacer--2:              20px;
$global-spacer--3:              30px;
$global-spacer--4:              40px;
$global-spacer--5:              50px;
$global-spacer--6:              60px;
$global-spacer--7:              70px;
$global-spacer--8:              80px;
$global-spacer--9:              90px;
$global-spacer--10:             100px;

// Z-Index
$z-index-navigation:            1000;
$z-index-background:            0;

// Colors
$black: #2d2d2d;
$white: #ffffff;
$gray: #b7b7b7;
$gray-dark: #818181;
$gray-lightest: #f6f5f4;
$blue-dark: #4b636e; // temp
$blue: #375053;
$blue-light: #b2d5d9;
$blue-transparent: rgba($blue-light, 0.2);
$red: #a3393b;
$red-dark: #7f0000; // temp
$red-light: #f05545; // temp
$pink: #cb8384;
$pink-dark: #ac606f; 
$yellow: #f2c67f;
$orange: #e3864a;
$purple: #674962;
$green: #455d44;
$green-light: #a6c4a5;

// UX Colors 
$body-background: $gray-lightest;
$text-primary: $black;
$heading-primary: $black;
$heading-secondary: $gray-dark;
$link: $pink-dark;
$hover: $orange;

$disabled: $gray;
$highlight: $blue-light;
$error: $red;
$warning: $orange;
$success: $green;

// Brand
$logo: $black;


// Typefaces
$font-sans-serif:           'Source Sans Pro', Arial, sans-serif;
$font-serif:                'Cormorant Garamond', Georgia, serif;
$font-primary:              'Source Sans Pro', Arial, sans-serif;
$font-secondary:            'Cormorant Garamond', Georgia, serif;
$font-tertiary:             Georgia, serif;

// Font Size

$font-x-small:              11.237px;
$font-small:                14.222px;
$font-normal:               16px;
$font-medium:               18px;
$font-large:                22.781px;
$font-x-large:              28.833px;
$font-x2-large:             32.437px;
$font-x3-large:             41.053px;
$font-x4-large:             51.957px;