// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    3;

// Spacing
$global-spacer--half:           5px;
$global-spacer:                 10px;
$global-spacer--three-halves:   15px;
$global-spacer--2:              20px;
$global-spacer--3:              30px;
$global-spacer--4:              40px;
$global-spacer--5:              50px;
$global-spacer--6:              60px;
$global-spacer--7:              70px;
$global-spacer--8:              80px;
$global-spacer--9:              90px;
$global-spacer--10:             100px;

// Z-Index
$z-index-navigation:            1000;
$z-index-background:            0;

// Colors
$black: #2d2d2d;
$white: #ffffff;
$white-transparent: rgba($white,0.8);
$gray: #656165;
$gray-dark: #444444;
$gray-light: #cccccc;
$gray-lightest: #faf7f3;
$blue-dark: #4b636e; // temp
$blue: #375053;
$blue-light: #b2d5d9;
$blue-transparent: rgba($blue-light, 0.2);
$red: #a3393b;
$red-dark: #7f0000; // temp
$red-light: #f05545; // temp
$pink: #cb8384;
$pink-dark: #96394f; 
$yellow: #f2c67f;
$orange: #e3864a;
$purple: #674962;
$green: #455d44;
$green-light: #a6c4a5;

// Brand
$logo: $black;
$primary: $pink-dark;
$secondary: $purple;
$tertiary: $orange;
$quadrary: $blue-light;

// UX Colors 
$body-background: $gray-lightest;
$text-primary: $black;
$heading-primary: $black;
$heading-secondary: $gray-dark;
$link: $primary;
$hover: $secondary;

$disabled: $gray;
$highlight: $blue-light;
$error: $red;
$warning: #913000;
$success: $green;
$information: $blue;


// Typefaces
$font-sans-serif:           'Open Sans', Arial, sans-serif;
$font-serif:                'Cormorant Garamond', Georgia, serif;
$font-primary:              $font-sans-serif;
$font-secondary:            'Cormorant Garamond', Georgia, serif;
$font-tertiary:             Courier, sans-serif;

// Font Size

$font-x2-small:            11.237px;
$font-x-small:              12.642px;
$font-small:                14.222px;
$font-normal:               16px;
$font-medium:               18px;
$font-large:                22.781px;
$font-x-large:              28.833px;
$font-x2-large:             32.437px;
$font-x3-large:             41.053px;
$font-x4-large:             51.957px;