// 404 Page

.error404 {
    &__header {
        text-align: center;

        h1 {
            @include base-h3();
            margin-bottom: $global-spacer--3;
        }
    }

    &__message {
        text-align: center;
    }

    &__inner {
        width: 100%;
        max-width: 640px;
        margin: 0 auto;
        padding: 0 $global-spacer--2;

        @include media-breakpoint-up(md) {
            padding: 0;
        }
    }

    &__feature-image {
        @include photo-border();
        margin-bottom: $global-spacer--3;
    }

    &__search {

        &-intro {
            margin-bottom: $global-spacer--3;
            text-align: center;
        }

        &-form {
            form {
                flex-flow: column;

                label {
                    margin: 0 0 $global-spacer--three-halves;
                }
            }
        }
    }
}

.search-no-results {

    .main .page-header {

        h1 {
            margin: 0 $global-spacer--2 $global-spacer--3;
        }
    }
}