// Blogroll

.blog,
.category {

    article {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        width: 100%;

        @include media-breakpoint-up(lg) {
            flex-flow: row;
        }
    }

    .content {
        display: flex;
        justify-content: space-around;

        @include media-breakpoint-up(lg) {
            flex-flow: row;
        }
    }

    .main {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        width: 100%;

        @include media-breakpoint-up(md) {
            flex-flow: row wrap;
        }
    }

    .page-header {
        display: none;
    }

    .sidebar {
        display: block;

        @include media-breakpoint-up(sm) {
            display: flex;
            justify-content: space-around;

            .widget {
                width: 100%;
                max-width: 30%;
            }
        }


        @include media-breakpoint-up(lg) {
            display: block;

            .widget {
                max-width: 100%;
            }
        }

    }

    .posts-navigation {
        width: 100%;
        margin: 0 0 $global-spacer--4 0;
        padding: 0 $global-spacer--4 $global-spacer--4;
        border-bottom: 1px solid $gray-light;

        @include media-breakpoint-up(lg) {
            padding: 0 $global-spacer--5 0 180px;
            border-bottom: none;
        }
    }

    .nav {

        &-links {
            display: flex;
            flex-flow: row;
            align-items: center;
            justify-content: space-between;

            a {
                @include title-link();
            }
        }

        &-previous {

            a:before {
                content: '<';
                padding-right: $global-spacer--half;
            }
        }

        &-next {

            a:after {
                content: '>';
                padding-left: $global-spacer--half;
            }
        }
    }
}

.blogroll {

    &__single {
        width: 100%;
        border-bottom: none;

        @include media-breakpoint-up(lg) {
            width: 98%;
            padding: 0 $global-spacer--2;
        }
    }

    &__link {

    }

    &__feature {

        &-outer {
            width: 100%;
            border-bottom: 1px solid $gray-light;
            margin-bottom: $global-spacer--4;
        }

        &-image {
            margin-bottom: $global-spacer--2;
            height: 240px;
            overflow: hidden;
            background-color: $yellow;

            @include media-breakpoint-up(lg) {
                height: 400px;
            }
        }
    }

    &__information {
        display: flex;
        flex-flow: column;
        align-items: center;
        padding: 0 $global-spacer--2 $global-spacer--2;

        @include media-breakpoint-up(lg) {
            display: block;
            margin-bottom: $global-spacer--3;
            padding: 0;
        }
    }

    &__category {
        @include base-caption();
        text-align: right;
    }

    &__title {
        @include base-h1();
        text-align: center;


        @include media-breakpoint-up(lg) {
            margin: 0 0 $global-spacer 0;
            text-align: left;
        }
    }

    &__date {
        text-align: left;

        @include media-breakpoint-up(lg) {
            text-align: right;
        }

        &-outer {
            padding: 0 $global-spacer;
        }
    }
}