// Gallery Styles

.gallery {

    &-icon {
        margin-bottom: $global-spacer--three-halves;
    }

    -item {
        display: inline-block;
        text-align: center;
        vertical-align: top;
        width: 100%;
        margin: 0 0 0.5em;
    }

    &-columns-2 {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;

        // 2 Columns display on larger screens, 
        // but defaults to 1 column on small screens.
        @include media-breakpoint-up(lg) {
            -webkit-column-count: 2;
            -moz-column-count: 2;
            column-count: 2;
        }
    }

    &-columns-3 {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;

        // Hiding captions for grids of 3 columns or more
        figcaption {
            display: none;
        }
    }

    &-columns-4 {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;

        // Hiding captions for grids of 3 columns or more
        figcaption {
            display: none;
        }
    }

    &-columns-5 {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;

        // Hiding captions for grids of 3 columns or more
        figcaption {
            display: none;
        }
    }

    &-columns-6 {
        -webkit-column-count: 6;
        -moz-column-count: 6;
        column-count: 6;

        // Hiding captions for grids of 3 columns or more
        figcaption {
            display: none;
        }
    }

    &-columns-7 {
        -webkit-column-count: 7;
        -moz-column-count: 7;
        column-count: 7;

        // Hiding captions for grids of 3 columns or more
        figcaption {
            display: none;
        }
    }

    &-columns-8 {
        -webkit-column-count: 8;
        -moz-column-count: 8;
        column-count: 8;

        // Hiding captions for grids of 3 columns or more
        figcaption {
            display: none;
        }
    }

    &-columns-9 {
        -webkit-column-count: 9;
        -moz-column-count: 9;
        column-count: 9;

        // Hiding captions for grids of 3 columns or more
        figcaption {
            display: none;
        }
    }
}