// Header Styles

.header {
    display: block;
    margin: $global-spacer--2 0;

    @include media-breakpoint-up(lg) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: $global-spacer 0;
    }

    &__outer {}


    &__inner {
        width: 100%;
        margin-bottom: $global-spacer--2;

        @include media-breakpoint-up(lg) {
            margin-bottom: 0;
        }
    }

    &__logo {

        &-outer {
            display: flex;
            justify-content: center;
            align-items: center;

            &.u-medium--show {
                display: none;

                @include media-breakpoint-up(lg) {
                    display: flex;
                }
            }

            &.u-medium--hide {
                display: flex;
                
                @include media-breakpoint-up(lg) {
                    display: none;
                }
            }
        }
    }

    &__search {

        &-outer {
            width: 100%;
            
            @include media-breakpoint-up(lg) {
                width: 80%;
            }
        }

        .search-submit {
            width: 50%;
        }

    }

    &__navigation {

        &-outer {
            width: 100%;
            
            @include media-breakpoint-up(lg) {
                width: 80%;
            }
        }
    }
}