// Header Styles

.header {
    width: 100%;

    &__container {}


    &__top {
        display: flex;
        justify-content: space-between;
        margin: $global-spacer auto;
    }

    &__logo {
        display: flex;
    }

    &__search {

    }

    &__navigation {}
}