// Header Styles

.header {

    &__container {}


    &__top {
        display: flex;
        justify-content: space-between;
        margin: $global-spacer auto;
    }

    &__logo {
        display: flex;
        flex: 1 0 0;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    &__search {
        flex: 0 0 0;
    }

    &__navigation {}
}