// Pages

.page {

    &-header h1 {
        @include page-header();
    }

    &__title {
        display: none;
    }

    &__content {
        width: 100%;
        max-width: 960px;
        margin: 0 auto $global-spacer--4;
        padding: 0;
        text-align: center;

        @include media-breakpoint-up(sm) {
            margin: $global-spacer--2 auto $global-spacer--3;
            padding: 0 $global-spacer--2;
        }

        p {
            @include base-h4();
            color: $gray;
        }
    }

    &__feature {
        display: flex;
        justify-content: center;
        flex-flow: column;
        width: 100%;
        max-width: 960px;
        margin: auto auto $global-spacer--10 auto;

        @include media-breakpoint-up(sm) {
            flex-flow: row wrap;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            padding: 0 $global-spacer--2;

            @include media-breakpoint-up(sm) {
                padding: 0;
            }

            a {
                border: none;
            }
        }

        h3 {

            a {
                color: $black;
            }
        }

        h6 {

            a {
                color: $gray;
            }
        }
    }
}

.home {

    .page__content {

        p {
            @include base-h1();
            font-style: normal;
            font-weight: normal;
            text-transform: initial;
            color: $black;
        }
    }
}

.design,
.photography {

    &_feature {
        width: 100%;
        margin: 0 0 $global-spacer--3 0;

        @include media-breakpoint-up(sm) {
            width: 50%;
            padding: $global-spacer--2;
        }

        &:nth-child(3) {
            width: 100%;
        }

        a {
            display: block;
            border: none;
        }

        &:hover,
        &:focus {
            
            a {
                color: $orange;
            }
        }
    }

    &__title {
        display: none;
    }
}