// Single Post Page Styles

.blog-post {
    max-width: 1440px;
    margin: auto;

    &__outer {
        padding: 0;

        @media only screen and (min-width: 992px) {  
            padding: 0 $global-spacer--2;
        }
    }

    &__category {

        .post-categories {
            margin: 0;
            padding: 0;

            li {
                display: none;

                &:first-child {
                    display: block;
                }

                a {
                    @include base-caption();
                    border-color: $body-background;

                    &:hover,
                    &:focus {
                        text-decoration: none;
                        color: $hover;
                        border-color: $link;
                    }
                }
            }
        }
    }

    &__main {

        &-outer {
            display: flex;
            flex-flow: column;
            justify-content: center;
            margin-bottom: $global-spacer--3;
            padding: 0;

            @media only screen and (min-width: 1200px) {
                padding: 0 10.5% 0 0;
                flex-flow: row;
                margin-bottom: $global-spacer--5;
            }
        }
    }

    &__inner {
        display: flex;
        flex-flow: column;

        @media only screen and (min-width: 900px) {
            flex-flow: row;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p {
            padding: 0 $global-spacer--2;

            @media only screen and (min-width: 960px) {
                padding: 0 25px;
            }

            @media only screen and (min-width: 1200px) {
                padding: 0;
            }
        }

        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-top: $global-spacer--2;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 0;
        padding: 0 $global-spacer--three-halves;
        text-align: center;

        @media only screen and (min-width: 768px) {
            padding: 0 $global-spacer--2;
            text-align: right;
        }

        @media only screen and (min-width: 1200px) {
            display: block;
            max-width: 160px;
            padding-left: $global-spacer--half;
        }
    }

    &__feature-image {
        width: 100%;
        overflow: hidden;
        margin-bottom: $global-spacer--3;
        background-color: $yellow;

        @media only screen and (min-width: 768px) {
            height: 485px;
        }
    }

    &__date {
        @include base-h6();
        word-wrap: break-word;
        margin-bottom: 0;

        @media only screen and (min-width: 1200px) {
            margin-bottom: $global-spacer;
        }
    }

    &__content {

        &-outer {
            width: 100%;
            margin-bottom: $global-spacer;
            border-bottom: 1px solid $gray-light;

            @media only screen and (min-width: 900px) {
                margin-bottom: 0;
                border-bottom: none;
            }
        }
    }

    &__title {}

    &__sidebar {

        @include media-breakpoint-up(lg) {
            margin-left: $global-spacer--3;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p {
            margin-top: 0;
            padding: 0 $global-spacer--half;

            @media only screen and (min-width: 768px) {
                padding: 0;
            }
        }

    }

    &__pagination {
        display: flex;
        flex-flow: column;
        align-items: center;
        margin-bottom: 100px;
        text-align: center;


        @include media-breakpoint-up(md) {
            flex-flow: row;
            justify-content: space-between;
            margin: 0 $global-spacer--2 100px;
        }


        &-link {
            @include title-link();
        }

        &-next {

            @include media-breakpoint-up(md) {
                text-align: right;
            }
        }

        &-previous {
            margin-bottom: $global-spacer--3;

            @include media-breakpoint-up(md) {
                margin-bottom: 0;
                text-align: left;
            }
        }

        a {
            @include base-h5();
            color: $link;

                &:hover,
                &:focus {
                    color: $hover;
                    border-color: $link;
                }
        }
    }

    &__comments {
        display: none;
    }
}