.blog {

    .main {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        width: 100%;
    }

    .page-header {
        display: none;
    }

    &roll {

        &__single {
            width: 33%;
            margin-bottom: $global-spacer--3;
            padding: $global-spacer--2;
            background: $white;
            border: 1px solid $gray;

            &:hover,
            &:focus {

                .blogroll__title,
                .blogroll__date {
                    color: $link;
                }
            }
        }

        &__link {

        }

        &__feature-image {
            display: block;
            width: 100%;
            height: auto;
            max-height: 280px;
            margin-bottom: $global-spacer--2;
            overflow: hidden;
            background: rgba($pink, 0.5);
        }

        &__information {
            display: flex;
            justify-content: space-between;
        }

        &__title {
            @include base-p;
            margin-bottom: 0;
            font-size: $font-medium;
        }

        &__date {
            font-size: $font-small;
            color: $text-primary;
            text-align: right;
        }
    }
}