// Single Post Page Styles

.blog-post {
    max-width: 1440px;
    margin:auto;

    &__outer {
        padding: 0;

        @include media-breakpoint-up(lg) {
            padding: 0 $global-spacer--2;
        }
    }

    &__main {

        &-outer {
            display: flex;
            flex-flow: column;
            justify-content: center;

            @include media-breakpoint-up(lg) {
                flex-flow: row;
                margin-bottom: $global-spacer--5;
            }
        }
    }

    &__inner {
        display: flex;
        flex-flow: column;

        @include media-breakpoint-up(lg) {
            flex-flow: row;
        }
    }

    &__header {
        width: 100%;
        
        @include media-breakpoint-up(lg) {
            max-width: 110px;
        }
    }

    &__feature-image {
        width: 100%;
        overflow: hidden;
        margin-bottom: $global-spacer--3;

        @include media-breakpoint-up(lg) {
            height: 485px;
        }
    }

    &__date {
        @include base-h6();
        word-wrap: break-word;

        @include media-breakpoint-up(lg) {
            padding-right: $global-spacer;
            text-align: right;
        }
    }

    &__content {

        &-outer {}
    }

    &__title {}

    &__sidebar {

        @include media-breakpoint-up(lg) {
            margin-left: $global-spacer--5;
            padding-left: $global-spacer--4;
            border-left: 1px solid $gray-light;
        }
    }

    &__pagination {
        display: flex;
        flex-flow: column;
        align-items: center;
        margin-bottom: 100px;
        text-align: center;

        @include media-breakpoint-up(md) {
            flex-flow: row;
            justify-content: space-between;
        }


        &-link {
            @include title-link();
        }

        &-next {

            @include media-breakpoint-up(md) {
                text-align: right;
            }
        }

        &-previous {
            margin-bottom: $global-spacer--3;

            @include media-breakpoint-up(md) {
                margin-bottom: 0;
                text-align: left;
            }
        }

        a {
            @include base-h2();
            font-size: $font-large;
            color: $link;
        }
    }

    &__comments {
        display: none;
    }
}