// Sidebar

.sidebar {
    width: 100%;

    .widget {
        margin-bottom: $global-spacer--3;
        padding-bottom: $global-spacer--3;
        border-bottom: 1px solid $gray-light;

        h3 {
            @include base-h6();
        }

        p {
            margin-bottom: 0;
        }

        &_categories {
             ul {
                margin: 0;
                padding: 0;
             }

             li {
                margin: 0;
                padding: 0;
                list-style-type: none;

                a {
                    @include button-secondary();
                }
             }
        }
    }
}