// Recent Posts Styles

.recent-posts {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;

    @include media-breakpoint-up(sm) { 
        flex-flow: row nowrap;
    }

    &__inner {
        position: relative;
        display: flex;
        flex-flow: column;
        align-items: center;
        margin: 0 auto $global-spacer--3;
        border-bottom: 2px solid $body-background;
        
        &:nth-child(2) {
            margin: 0;
        }

        &:nth-child(3),
        &:nth-child(4) {
            display: none;
        }

        &:last-child {
            margin: 0;
        }

        @include media-breakpoint-up(sm) {    
            margin: 0 2% 0 0;
        }

        @include media-breakpoint-up(md) {
            width: 100%;

            &:nth-child(2) {
                margin: 0 2% 0 0;
            }

            &:nth-child(3) {
                margin: 0;
            }

            &:nth-child(3) {
                display: block;
            }
        }

        @include media-breakpoint-up(lg) {
            &:nth-child(4) {
                display: block;
            }
        }

        &:hover,
        &:focus {
            border-color: $pink-dark;
            
            .recent-posts__link {
                color: $pink-dark;
            }
        }
    }

    &__title {
        margin-bottom: $global-spacer--3;
        text-align: center;

        @include media-breakpoint-up(md) { 
            text-align: left;
        }
    }

    &__outer {
        width: 100%;
        max-width: 1200px;
        margin: $global-spacer--3 auto $global-spacer--5 auto;
        padding: 0 $global-spacer--4;
    }
    
    &__image {

        &-link {
            display: block;
            overflow: hidden;
            height: 200px;
            margin: 0 0 $global-spacer;
            border: none;
            
            &:hover,
            &:focus {
                border: none;
            }

            img {
                width: 100%;
            }
        }
    }

    &__link {
        @include blog-preview-title();
    }

    &__info {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &__date {
        @include blog-preview-date();
        margin: 0 0 0 $global-spacer--2;
    }
}