// Recent Posts Styles

.recent-posts {
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 60%;
    margin: auto auto $global-spacer--3;

    &:nth-child(3),
    &:nth-child(4) {
        display: none;
    }

    @include media-breakpoint-up(sm) {    
        margin: 0 1%;
    }

    @include media-breakpoint-up(md) {
        width: 100%;

        &:nth-child(3) {
            display: block;
        }
    }

    @include media-breakpoint-up(lg) {
        &:nth-child(4) {
            display: block;
        }
    }

    &:hover,
    &:focus {
        .recent-posts__link {
            color: $pink-dark;
            border-color: $pink-dark;
        }
    }

    &__title {
        text-align: center;
    }

    &__outer {
        display: flex;
        justify-content: center;
        flex-flow: column wrap;
        width: 100%;
        max-width: 1200px;
        margin: $global-spacer--3 auto $global-spacer--5 auto;

        @include media-breakpoint-up(sm) { 
            flex-flow: row nowrap;
        }
    }
    
    &__image {

        &-link {
            display: block;
            overflow: hidden;
            height: 200px;
            margin: 0 0 $global-spacer;
            border: none;

            @include media-breakpoint-up(sm) { 
                height: initial;
            }

            &:hover,
            &:focus {
                border: none;
            }

            img {
                width: 100%;
            }
        }
    }

    &__link {
        @include base-h5();
        text-transform: capitalize;
        border-bottom: 1px solid $body-background;

        &:hover,
        &:focus {
            color: $pink-dark;
        }
    }
}